# langchain core modules
langchain
langchain-core

# Huggingface integration
transformers
huggingface_hub
langchain_huggingface

# Document loaders
langchain_community

# Environment and utility packages
python-dotenv
numpy

# Data validation and frontend application
pydantic
streamlit
