# langchain core modules
langchain
langchain-core

# Huggingface integration
transformers
huggingface_hub
langchain_huggingface

# Document loaders
langchain_community

# Semantic Text Spliltter
langchain-experimental

# Environment and utility packages
python-dotenv
numpy

# Data validation and frontend application
pydantic
streamlit

# Loader for PDF documents
PyPDF

# Retriever
wikipedia # for wikipedia retriever
